body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(../public/img/bk9.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;


}


.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;


  .navbar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;    
  }

  .main-body {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: auto;
  }

  .footer {

    height: 5%;
    width: 100%;

  }



  .left {
    flex: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


  }

  .details {
    width: 100%;
    height: 50%;
    text-align: left;
    font-size: clamp(2vh, 1vw, 3vw);
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;

  }

  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  
  p,
  h1,
  h2 {
    overflow: hidden; /* Hide overflow text */
    white-space: nowrap; /* Don't wrap text */
    animation: typing 3s steps(30, end); /* Typing animation lasting 3 seconds */

    margin: 0.3pc;
  }


  .btn-box {
    /* background-color: blue; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;

    div {
      margin-top: 1rem;
      width: 100%;
      min-height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;
    }

    .btn {
      background-color: transparent;
      width: 8vw;
      min-height: 5vh;
      max-width: 220px;
      max-height: 70px;
      min-width: 90px;
      min-height: 25px;
      border-radius: 10px;
      transition: box-shadow 0.3s, transform 0.3s;
      
    }
    .btn:hover {
      /* Increase box shadow to create a pop-up effect */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      transform: scale(1.05);
    }
  }




  .right {

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 40%;
    height: 100%;



    .my-img {
      background-image: url('../public/img/mypic1.jpeg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      max-height: 90%;
      width: 50%;
      border-radius: 50%;
      min-width: 120px;
      background-color: black;


    }


    .my-img::after {
      content: '';
      padding-bottom: 100%;
      display: block;
    }

  }



  @media (max-aspect-ratio: 1/1) {
    .home {
      flex-direction: column;
      

    }
    
    .navbar {
      order: 1;
    }

    .main-body {
      order: 2;
      flex-direction: column;
    }

    .right {
      order: 3;

      .my-img {
        max-width: calc(10vw + 10vh);
      }



    }

    .left {
      order: 4;

      .details {
        height: 40%;
      }

      .btn-box {
        height: 60%;

        .btn {
          border-radius: 5pc;
          max-height: 90%;
          min-height: 4vh;

        }
      }
    }

    .footer {
      order: 5;
    }

    .details {
      justify-content: center;

      div {
        font-size: 1.5vh;
      }

    }

  }


}

.home>div {
  border-radius: 3pc;
  /* background-color: rgba(179, 156, 156, 0.15); */
  backdrop-filter: blur(10px);  
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;

  width: 70vw;
  height: 85vh;
  flex-basis: 10% 40% 50%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.side-btn {
  background-color: transparent;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  transition: box-shadow 0.3s, transform 0.3s;
  margin: 10px;

}
.side-btn>div{
  font-size: 2rem;
  
}
.side-btn:hover {
  /* Increase box shadow to create a pop-up effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}


.main-body.blur {
  filter: blur(20px);
  opacity: 0.3;
}


.projects{
  padding: 20px;
  border-radius: 3pc;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(8px);

  margin-top: 10vh;
  margin-bottom: 10vh;
  

  width: 80vw;
  height: 85vh;
  min-height: 80vh;
  overflow: hidden;
}
.render-projects{
    
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.render-projects.blur {
  filter: blur(20px);
  opacity: 0.01;
  
}


.projectsDetailView>div{  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 3pc;
  /* background-color: rgba(179, 156, 156, 0.15); */
  backdrop-filter: blur(10px);  
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;

  width: 70vw;
  height: 85vh;
  flex-wrap: wrap;
  
}
